* {
    background-color: rgb(248, 240, 230);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 4rem;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
}

.rules {
    display: flex;
    justify-content:flex-end;
    padding: 10px;
    font-size: 30px;
    border-radius: 100%;
    margin: 20px 0 0 20px;
    color: rgb(140, 140, 16);
    border-color: rgb(140, 140, 16);
}

#game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.letter-box {
    border: 2px solid gray;
    border-radius: 2px;
    margin: 2px;
    font-size: 2.5rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    min-width: 90px;
    min-height: 90px;
}

.word-row {
    display: flex;
    
}

#keyboard div {
    display: flex;
    justify-content: center;
    margin: 2px;
    align-items: center;
}

.keyboard-btn {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: .5rem;
    cursor: pointer;
    margin: 1px 1px;
    min-height: 80px;
    min-width: 80px;
    border-radius: 100%;
    background-color: rgb(221, 219, 240);
}

.delete,
.enter {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: .5rem;
    cursor: pointer;
    min-height: 80px;
    min-width: 80px;
    cursor: pointer;
    margin: 1px 1px;
    border-radius: 100%;
    background-color: rgb(221, 219, 240);
}